/* Profile page */
#l_pr .LeftMenu__icon {
    color: MediumPurple;
}
/* News feed */
#l_nwsf .LeftMenu__icon {
    color: BurlyWood;
}
/* Messenger */
#l_msg .LeftMenu__icon {
    color: DeepSkyBlue;
}
/* Friends */
#l_fr .LeftMenu__icon {
    color: LimeGreen;
}
/* Groups */
#l_gr .LeftMenu__icon {
    color: LightSeaGreen;
}
/* Photos */
#l_ph .LeftMenu__icon {
    color: Coral;
}
/* Music */
#l_aud .LeftMenu__icon {
    color: Fuchsia;
}
/* Video */
#l_vid .LeftMenu__icon {
    color: Red;
}
/* Mini-apps */
#l_mini_apps .LeftMenu__icon {
    color: SteelBlue;
}
/* Market */
#l_mk .LeftMenu__icon {
    color: DarkOrchid;
}
/* Favorites */
#l_fav .LeftMenu__icon {
    color: Gold;
}
/* Files */
#l_doc .LeftMenu__icon {
    color: DarkGray;
}
/* Clips */
#l_svd .LeftMenu__icon {
    color: Black;
}
/* Games */
#l_ap .LeftMenu__icon {
    color: DarkGray
}
/* Stickers */
#l_stickers .LeftMenu__icon {
    color: SandyBrown;
}
/* VK Pay */
#l_vkp .LeftMenu__icon {
    color: Goldenrod;
}
/* Job */
#l_job .LeftMenu__icon {
    color: CadetBlue;
}
/* Ads */
#l_ads .LeftMenu__icon {
    color: LightCoral
}
/* Manage */
#l_apm .LeftMenu__icon {
    color: FireBrick;
}