/* Profile page */
#l_pr .LeftNav__icon {
    color: MediumPurple;
}
/* News feed */
#l_nwsf .LeftNav__icon {
    color: BurlyWood;
}
/* Messenger */
#l_msg .LeftNav__icon {
    color: DeepSkyBlue;
}
/* Friends */
#l_fr .LeftNav__icon {
    color: LimeGreen;
}
/* Groups */
#l_gr .LeftNav__icon {
    color: LightSeaGreen;
}
/* Photos */
#l_ph .LeftNav__icon {
    color: Coral;
}
/* Music */
#l_aud .LeftNav__icon {
    color: Fuchsia;
}
/* Video */
#l_vid .LeftNav__icon {
    color: Red;
}
/* Mini-apps */
#l_mini_apps .LeftNav__icon {
    color: SteelBlue;
}
/* Market */
#l_mk .LeftNav__icon {
    color: DarkOrchid;
}
/* Favorites */
#l_fav .LeftNav__icon {
    color: Gold;
}
/* Files */
#l_doc .LeftNav__icon {
    color: DarkGray;
}
/* Clips */
#l_svd .LeftNav__icon {
    color: Black;
}
/* Games */
#l_ap .LeftNav__icon {
    color: DarkGray
}
/* Stickers */
#l_stickers .LeftNav__icon {
    color: SandyBrown;
}
/* VK Pay */
#l_vkp .LeftNav__icon {
    color: Goldenrod;
}
/* Job */
#l_job .LeftNav__icon {
    color: CadetBlue;
}
/* Ads */
#l_ads .LeftNav__icon {
    color: LightCoral
}
/* Manage */
#l_apm .LeftNav__icon {
    color: FireBrick;
}